---
import Layout from "../layouts/Layout2.astro"
import Card from '../components/Section.astro';
import GetCV from '../components/get.astro';
import Image from '../components/Img.astro';

---


<Layout title="Learning", next="https://github.com/plonkamaciej", placeholder="Github">
    <main>
        <h1>
            About <span class="text-gradient">me</span>
        </h1>
        <div class="grid grid-cols-fluid gap-1 justify-center mb-6">
          <Card title={"Student"} bg={"bg-orange-400 row-span-2"} > 
            As a student at Politechnika Śląska, pursuing my degree in AEiI Informatyka, I find myself immersed in a world of endless possibilities and technological wonders. Every day is a new opportunity to delve into the intricate realms of algorithms and coding, pushing the boundaries of what I thought was possible. Collaborating with my peers and esteemed professors, I not only sharpen my technical skills but also cultivate a mindset of innovation and teamwork. Beyond the classroom, I eagerly participate in workshops and hackathons, constantly seeking to expand my knowledge and refine my craft. With each challenge I encounter, I grow more determined to leave my mark on the ever-evolving landscape of information technology.
        </Card>
          <Card title={"Certificated"} bg={"bg-red-400 md:col-span-2 sm:col-span-1"}>HTML, CSS, JAVASCRIPT cerificate 2019 Erasmus+, Maximilian Schwarzmüller Udemy React course, EE09 Certificate, C1 English"</Card>
        
          <Card  bg="bg-yellow-400 bg-[url('/about_me.webp')] bg-cover"></Card>
          <Card title={"Explorer"} bg={"bg-blue-400"}>  

            As a junior web developer, delving into new technologies feels like stepping into a realm of endless possibilities. Every line of code written and every concept grasped adds a piece to the puzzle of web development. Learning these technologies is akin to embarking on an exhilarating journey of discovery, where each skill acquired marks a milestone in my growth and understanding. Though the learning curve may be steep, the sense of accomplishment that follows fuels my determination to keep pushing forward. With each challenge overcome, I find myself one step closer to mastering the ever-evolving landscape of web development.          </Card>
          <Card title={"Download CV"} bg={"bg-slate-800 sm:col-span-2 md:col-span-3  sm:col-span-1"}><GetCV title="GET CV" href="/CV.pdf"/></Card>
    
        </div>
    </main>
</Layout>


<style>

main {
    margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
        color: white;
    }

    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    h1 {
        color: white;
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 5vh;
	}
</style>