---
import Layout from "../layouts/Layout2.astro"
import Card from '../components/Section.astro';
---

<Layout title="Learning", next="https://github.com/plonkamaciej", placeholder="Github">
    <main>
        <h1>
            About <span class="text-gradient">me</span>
        </h1>
        <div class="grid grid-cols-fluid gap-1 justify-center mb-6">
          <Card title={"Explorer"} bg={"bg-orange-400 row-span-2"} />
          <Card title={"Pasionate"} bg={"bg-red-400"} />
          <Card title={"test1"} bg={"bg-purple-400"} />
          <Card title={"test2"} bg={"bg-yellow-400"} />
          <Card title={"Student!"} 
          body={
          "Hey there! I'm Maciej, a 23-year-old student at Politechnika Śląska. With five years in front-end and three in backend development, I'm passionate about tech. At university, I'm expanding my knowledge while staying ahead of industry trends. Outside of class, I love exploring emerging technologies. I thrive on challenges, whether crafting sleek interfaces or building robust backend systems."
          } 
          bg={"bg-blue-400"} />
          <Card title={"test2"} bg={"bg-green-400 sm:col-span-2 md:col-span-3"} />

        </div>
    </main>
</Layout>


<style>

main {
    margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
        color: white;
    }

    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    h1 {
        color: white;
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 5vh;
	}
</style>