---
import Layout from "../layouts/Layout2.astro"
import Section from "../components/Main.astro"
---

<Layout title="Learning", next="/about", placeholder="About me">
    <main>
        <h1>
            Next.js and <span class="text-gradient">Astro</span>
        </h1>
        <div class="grid mt-20 md:grid-cols-2 gap-10 sm:text-sm">
            <Section width={"w-full"} logos = {["/astro.svg"]}>
                <h1>Astro</h1>
                <p>
                    Astro.js is a web development framework gaining popularity for its focus on performance and developer experience. Lately, a new integration called Astro DB has recently been added. This integration allows you to leverage a powerful, local, type-safe SQL database specifically designed for the Astro ecosystem. This means you can develop locally with Astro and seamlessly deploy your database through your Astro Studio dashboard. Astro DB offers type-safe SQL queries, giving you the benefit of catching errors during development and ensuring data integrity
                </p>
            </Section>
            <Section width={"w-full"} logos={["/next-js.svg"]}>
                <h1>Next.js</h1>
                <p>Next.js is a React framework for building full-stack web applications. You use React Components to build user interfaces, and Next.js for additional features and optimizations.

                    Under the hood, Next.js also abstracts and automatically configures tooling needed for React, like bundling, compiling, and more. This allows you to focus on building your application instead of spending time with configuration.
                </p>
                <p class="mt-3">currently learning with Maximilian Schwarzmüller Next.js course</p>
            </Section>
        </div>
    
    </main>
</Layout>

<style>
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    main {
        margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 16px;
		line-height: 1.6;
    }

    h1 {
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 3vh;
	}

    p {
        text-align: justify;
    }

</style>