---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Main.astro"
---

<Layout title="Learning", next="https://github.com/plonkamaciej">
    <main>
        <h1>
            Next.js and <span class="text-gradient">Astro</span>
        </h1>
        <div class="flex mt-20 justify-evenly">
            <Section>
                Astro
            </Section>
            <Section>
                Next
            </Section>
        </div>
    
    </main>
</Layout>

<style>
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    main {
        background-image: "bg-grid.png";
        margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
    }

    h1 {
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

</style>