---
import Layout from "../layouts/Layout2.astro"
import Section from "../components/Main.astro"
import Img from "../components/Img.astro"
export const prerender = true;


---

<Layout title="Projects" next="/technology">
    <main class="md: p-4">
        
        <h1>
           Universitity and <span class="text-gradient">Comercial</span> projects
        </h1>
        <h1 class="md:hidden">Please display this page on PC or laptop.</h1>
        
        <div class="scroll">
        <div class=" grid grid-cols-2 gap-10 w-full">
            <Img classes={"w-full"} img={"/warsztat.webp"} />
            <Section width={"w-full"} logos={["/java.svg", "/react.svg", "/tailwind.svg"]}>
                Fullstack Car Workshop System
                <p>Mostly backend: RESTFUL API and database operations</p>
            </Section>
            <Img classes={"w-full"} img="/photography.webp"/>
          
            <Section width={"w-full"} logos={["/wordpress.webp", "/bootstrap.webp", "/html.webp"]}>
                Frontend Photography portfolio
                <p>Commercial project for a photographer</p>
            </Section>
            <Img classes={"w-full"} img="/cli.webp" />
                
            <Section width={"w-full"} logos={["/mysql.webp", "/python.webp"]}>
                Python Librery System
                <p>System for Library with basic CRUD operations using mySQL database</p>
            </Section>
            <Img classes={"w-full"} img="/game.webp"/>
                
            <Section width={"w-full"} logos={["/cpp.webp", "/sfml.webp"]}>
                Space invaders
                <p>game for final project in C++ course at Universisty</p>
            </Section>
            
          
        </div>
    </div>
    
    </main>
</Layout>

<style>

    
@media only screen and (max-width: 600px) { /* Example breakpoint for smartphones */
        
    .scroll {
        display: none;
    }
    main {
        padding: 0;
    }
    }

    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    main {
        background-image: "bg-grid.png";
        margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;

    }

    h1 {
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

    .scroll {
        overflow-y: auto; 
            overflow-x: hidden; 
            height: 65vh; 
    }
    .scroll::-webkit-scrollbar {
    display: none;
}

</style>