---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Main.astro"

---

<Layout title="Projects" next="/technology">
    <main>
        <h1>
           Universitity and <span class="text-gradient">Comercial</span> projects
        </h1>
        <div class="scroll">
        <div class=" grid grid-cols-2 gap-10 w-full">
            <Section width={"w-full"} img="/warsztat.png">
                
            </Section>
            <Section width={"w-full"} logos={["/java.svg", "/react.svg", "/tailwind.svg"]}>
                Fullstack Car Workshop System
                <p>Mostly backend: RESTFUL API and database operations</p>
            </Section>
            <Section width={"w-full"} img="/photography.png">
                
            </Section>
            <Section width={"w-full"} logos={["/wordpress.png", "/bootstrap.png", "/html.png"]}>
                Frontend Photography portfolio
                <p>Commercial project for a photographer</p>
            </Section>
            <Section width={"w-full"} img="">
                
            </Section>
            <Section width={"w-full"} logos={["/mysql.png"]}>
                
            </Section>
            <Section width={"w-full"} img="/game.png">
                
            </Section>
            <Section width={"w-full"} logos={["/cpp.png", "/sfml.png"]}>
                Space invaders
                <p>game for final project in C++ course at Universisty</p>
            </Section>
            
          
        </div>
    </div>
    
    </main>
</Layout>

<style>
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    main {
        background-image: "bg-grid.png";
        margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;

    }

    h1 {
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

    .scroll {
        overflow-y: auto; 
            overflow-x: hidden; 
            height: 65vh; 
    }
    .scroll::-webkit-scrollbar {
    display: none;
}

</style>