---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Maciej Plonka" next="/learning">
	<main class="md:p-4">
    <h1>
      My Technology <span class="text-gradient">Stack</span>
  </h1>
<div class="grid mt-20 md:grid-cols-2 gap-10 justify-center">
    <div class="rounded-xl overflow-hidden shadow-lg bg-slate-200 w-[100%]">
        <div class="flex p-8 justify-evenly bg-white w-full">
        <img width="100" src="/tailwind.svg" alt="tailwind logo">
        <img width="100" src="/react.svg" alt="react logo">
        <img width="80" src="/astro.svg" alt="react logo">
        </div>
        
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Front End</div>
          <p class="text-gray-700 text-base">
            I specialize in crafting interactive and responsive user interfaces using a powerful combination of <span class="font-bold">React</span> and <span class="font-bold">Tailwind CSS</span>. With <span class="font-bold">React</span>, I build dynamic and efficient single-page applications that offer seamless user experiences. <span class="font-bold">Tailwind CSS</span> complements React by providing a utility-first CSS framework that allows for rapid prototyping and easy customization. Additionally, I leverage <span class="font-bold">Next.js</span> for server-side rendering, which enhances performance and SEO capabilities, making my applications more accessible and discoverable. For static site generation and blazing fast loading times, I employ <span class="font-bold">Astro.js</span>.
            
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#React</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#TailwindCSS</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Astro.js</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#JavaScript</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Sass</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#HTML5</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#CSS3</span>
        </div>
      </div>

      <div class="rounded-xl overflow-hidden shadow-lg bg-slate-200 w-[100%]">
        <div class="flex p-8 justify-evenly bg-white w-full">
        <img width="100" src="/java.svg" alt="tailwind logo">
        <img width="80" src="/node.svg" alt="react logo">
        <img width="100" src="/postgresql.svg" alt="react logo">
        </div>
        
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Back End</div>
          <p class="text-gray-700 text-base">
            My backend expertise revolves around a robust tech stack, including <span class="font-bold">Java</span>, <span class="font-bold">Spring</span>, <span class="font-bold">Node.js</span>, and <span class="font-bold">Express</span>. Leveraging Java and Spring, I develop scalable and secure server-side applications, ensuring reliability and high performance. With Node.js and Express, I create efficient and lightweight APIs, facilitating seamless communication between the frontend and backend. I utilize databases like <span class="font-bold">PostgreSQL</span> and <span class="font-bold">MySQL</span> 
            to manage and organize data effectively, ensuring data integrity and consistency across applications.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Java</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Spring</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Node.js</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Express</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#PostgreSQL</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#MySQL</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Express</span>
        </div>
      </div>

</div>
		
		
	</main>
</Layout>

<style>
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

    main {
    margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
    }

    h1 {
    color: white;
		margin-top: 3vh;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 3vh;
	}
</style>