---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro Test Site." next="/learning">
	<main>
<div class="flex mt-20 justify-evenly">
    <div class="rounded-xl overflow-hidden shadow-lg bg-slate-200 w-[45%]">
        <div class="flex p-8 justify-evenly bg-white w-full">
        <img width="140" src="/tailwind.svg" alt="tailwind logo">
        <img width="130" src="/react.svg" alt="react logo">
        <img width="100" src="/astro.svg" alt="react logo">
        </div>
        
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Front End</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#React</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#TailwindCSS</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Astro,js</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#JavaScript</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Sass</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#HTML5</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#CSS3</span>
        </div>
      </div>

      <div class="rounded-xl overflow-hidden shadow-lg bg-slate-200 w-[45%]">
        <div class="flex p-8 justify-evenly bg-white w-full">
        <img width="140" src="/java.svg" alt="tailwind logo">
        <img width="110" src="/node.svg" alt="react logo">
        <img width="140" src="/postgresql.svg" alt="react logo">
        </div>
        
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Back End</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Java</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Spring</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Node.js</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Express</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#PostgreSQL</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#MySQL</span>
          <span class="inline-block bg-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Express</span>
        </div>
      </div>

</div>
		
		
		
	</main>
</Layout>

<style>
    main {
        background-image: "bg-grid.png";
    }
</style>