---
import type { AnyZodObject } from 'astro/zod';

interface Props{
    title?: String;
    bg: String;
    pclass?: String;

}

const { title, bg, pclass } = Astro.props;

---

<div class={`shadow-lg ${bg} rounded w-auto h-auto text-white text-center`}>
<h1 class=" p-4 font-extrabold text-2xl">{title}</h1>
<p class={` ${pclass} p-4 font-medium text-base text-pretty`}><slot/></p>
</div>


