---
interface Props{
    title?: String;
    bg: String;
    body?: String

}

const { title, bg, body } = Astro.props;

---

<div class={`shadow-lg ${bg} rounded-2xl size-96 text-white text-center`}>
<h1 class=" p-4 font-extrabold text-2xl">{title}</h1>
<p class=" p-4 font-medium text-lg">{body}</p>
</div>


